#theme-dark {
    color: gray;
}

.text {
    color: white;
}
div p span {
    color: yellow;
}

.text span {
    color: red;
}

button {
    color: orange;
}

button {
    color: green;
}

p {
    color: blue !important;
}

.container p {
    color: red;
}

#main-box p {
    color: green;
}
